{%extends "base.html"%}
{%block main_content%}
    <!-- Head -->
    <section class="docs-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Isyblox</h1>
                <p class="lead">
                    Learn how we work with the environment
                </p>
            </div>
            <img src="images/Building.png" alt="">
        </div>
    </section>

    <!-- Docs main -->
    <section class="docs-main my-4">
        <div class="container grid">
            <div class="card bg-light p-3">
                <h3 class="my-2">Essentials</h3>
                <nav>
                    <ul>
                        <li><a href="docs.html">Introduction</a></li>
                        <li><a href="Questions.html">What are Isyblox really?</a></li>
                    </ul>
                </nav>

                <h3 class="my-2">A deeper dive</h3>
                <nav>
                    <ul>
                        <li><a href="ActionPlan.html">Action Plan</a></li>
							<li><a href="Help.html">How can I help?</a></li>
							<li><a class="text-primary" href="Tale.html">Telling our tale</a></li>
                    </ul>
                </nav>
            </div>
            <div class="card">
                <h3>The tale of ours</h3>
                <p1>We (Islam, Sachit and Yeni) went to the Midlands Maker Museum to get our brief. As it turned out we had to get rid of pollution in cities, so we brainstormed ideas, Yeni thought about using fireflies to provide lighting, Islam thought about ideas on green roofing while Sachit thought about an area full of greenery and people, a precursor to Isyblox. Ultimately, we all settled on the idea of Isyblox, its name was coined by Islam, and it stands for all the (co-)founders names and superblocks, an idea we were inspired by.<br><br></p1>
                <p1>Following the invention of the idea we three were hard at work trying to learn CAD(Computer Aided Design) eventually Sachit got bored and Yeni quit but Islam continued making a CAD designs, earning him the role of CAD-designer<br><br></p1>
                <p1>For 2 days Sachit used the skills he had and put them to use by working on the PowerPoint. Islam was hard at work learning CAD whilst Yeni assisted<br><br></p1>
                <p1>The next day Yeni and Islam were absent so Sachit worked on the PowerPoint which was approaching it's end<br><br></p1>
                <p1>Afterwards Yeni started modelling based on Islams CAD designs and Sachit's research which(Yenis's modelling) would end up being great<br><br></p1>
                <p1>The next day Alex joined in on the action and helped Yeni with the modelling as Islam and Sachit worked on.<br><br></p1>
                <p1>Finally, Sachit was basically done with the PowerPoint and decided to try and assist Yeni or Islam but could help them minimally so just stopped annoying them.<br><br></p1>
                <p1>The next day everyone polished their indivisual sectors as they challenge was approaching a close<br><br></p1>
                <p1>Sachit decided to make a website for Isyblox in his free time which you are on, HI!<br><br></p1>
                <p1>The presentation of the concept was due, however due to extreme circumstances (UK being hit with an extreme heatwave) the presentation ended up being delayed for quite some time. <br><br></p1>
                <br><br>
                <a href="home.html" class="btn btn-dark long-button">Home</a>
            </div>
        </div>
    </section>
{%endblock%}